@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: rgb(14, 0, 54);
}

.app {
  color: coral;
  background: #f0e8e8;
  width: 70%;
  max-width: 500px;
  margin: 50px auto 0;
  border-radius: 90px;
  padding: 10px;
}

#quizButton {
  background-color: rgb(65, 103, 185);
  align-items: center;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background: #0e213f;
  border-radius: 20px;
  width: 40%;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 600;
  margin: 5% auto 0 auto;
}

.hidden {
  display: none;
}

#quizTopics {
  margin-top: 30px;
}

#quizTopics ul {
  list-style-type: none;
  padding: 0;
}

#quizTopics li {
  align-items: center;
  border-radius: 20px;
  width: 20%;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 600;
  margin: 3% auto 0 auto;
  background: #e2e7ef;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

#quizTopics li:hover {
  text-decoration: underline;
  background-color: rgba(27, 243, 157, 0.966);
}
